html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Heebo', sans-serif !important;
    background-color: #e9ebee;
}

a{
    text-decoration: none;
    color: #212529;
}

a:hover{
    color: #f78f1e;
    text-decoration: none;
}

.brand-color{
    color: #f78f1e;
}

.brand-color-link{
    color: #f78f1e;
}

.brand-color-link:hover{
    color: rgba(247, 143, 30, 0.5);
}

.brand-color-link:focus{
    color: rgba(247, 143, 30, 0.5);
}

.brand-color-opposite{
    color:#0d2f5c;
}

nav {
    background-color: transparent;
    transition: background-color 200ms linear;
}

.nav-logo{
    height: 2rem;
}

.nav-btn{
    border: none;
}

.nav-item{
    text-align: right;
    
}

.nav-link {
    color: white !important;
}


.nav-link:hover {
    color: rgba(255,255,255,.5) !important;
}

.nav-btn:focus{
    outline: none;
    border: none;
}

.hidden{
    display: none;
}

.scrolled{
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 200ms linear;
}

.bg-white{
    background-color: white;
}

.white-link {
    color: white;
    text-decoration: none;
}

.white-link:hover, .white-link:focus {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.landing{
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(./images/sparks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.about{
    min-height: 100vh;
    
}

.supplier-logos{
    max-width: 100%;
}

.landing-logo{
    height: 3rem;
}

.contact{
    min-height: 50vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(./images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}


footer{
    background-color: #0d2f5c;
    color: white;
}

